<div class="homeLogo">
	<img src="images/home-logo.png" />
</div>
<div class="buttonField">
	<div x-mojo-touch-feedback="spontaneous" class="feedIcon" id="btnReviews">
		<div x-mojo-element="Spinner" id="spinReviews" class="feedSpinner"></div>
		<div class="notifier" id="notifierReviews">
			<div class="notifierContainer">
				<img class="notifierIcon" src="images/notifier.png" />
				<div class="notifierText" id="notifierUnreadReviews">&nbsp;</div>
			</div>
		</div>
	</div>
	<div x-mojo-touch-feedback="spontaneous" class="feedIcon" id="btnNews">
		<div x-mojo-element="Spinner" id="spinNews" class="feedSpinner"></div>
		<div class="notifier" id="notifierNews">
			<div class="notifierContainer">
				<img class="notifierIcon" src="images/notifier.png" />
				<div class="notifierText" id="notifierUnreadNews">&nbsp;</div>
			</div>
		</div>
	</div>
	<div x-mojo-touch-feedback="spontaneous" class="feedIcon" id="btnTips">
		<div x-mojo-element="Spinner" id="spinTips" class="feedSpinner"></div>
		<div class="notifier" id="notifierTips">
			<div class="notifierContainer">
				<img class="notifierIcon" src="images/notifier.png" />
				<div class="notifierText" id="notifierUnreadTips">&nbsp;</div>
			</div>
		</div>
	</div>
	<div x-mojo-touch-feedback="spontaneous" class="feedIcon" id="btnAotD">
		<div x-mojo-element="Spinner" id="spinAotD" class="feedSpinner"></div>
		<div class="notifier" id="notifierAotD">
			<div class="notifierContainer">
				<img class="notifierIcon" src="images/notifier.png" />
				<div class="notifierText" id="notifierUnreadAotD">&nbsp;</div>
			</div>
		</div>
	</div>
	<div x-mojo-touch-feedback="spontaneous" class="feedIcon" id="btnPodcasts">
		<div x-mojo-element="Spinner" id="spinPodcasts" class="feedSpinner"></div>
		<div class="notifier" id="notifierPodcasts">
			<div class="notifierContainer">
				<img class="notifierIcon" src="images/notifier.png" />
				<div class="notifierText" id="notifierUnreadPodcasts">&nbsp;</div>
			</div>
		</div>
	</div>
	<div x-mojo-touch-feedback="spontaneous" class="feedIcon" id="btnpreNotes">
		<div x-mojo-element="Spinner" id="spinpreNotes" class="feedSpinner"></div>
		<div class="notifier" id="notifierpreNotes">
			<div class="notifierContainer">
				<img class="notifierIcon" src="images/notifier.png" />
				<div class="notifierText" id="notifierUnreadpreNotes">&nbsp;</div>
			</div>
		</div>
	</div>
</div>
<div class="mainFooterWrap">
	<div class="mainFooter">
		<img class="mainFooterIconsLeft" id="btnTwitter" src="images/menuTwitterIcon.png" />
		<img class="mainFooterIconsLeft" id="btnFB" src="images/menuFBIcon.png" />
		<img class="mainFooterIconsRight" id="btnRefresh" src="images/menuRefreshIcon.png" />
	</div>
</div>
