<div class="articleSummaryLogo">
	<img src="images/small-icon.png" />
	<div class="summaryCategoryTitle" id="categoryTitle">&nbsp;</div>
</div>
<div x-mojo-element="Scroller" id="articleSummaryScroller">
	<div class="articleSummaryScrollerContainer" id="articleSummaryContainer">
		<div class="articleSummary" id="articleSummaryPage:1">
			&nbsp;
		</div>
		<div class="articleSummary" id="articleSummaryPage:2">
			&nbsp;
		</div>
	</div>
</div>
<div class="articleSummaryFooter">
	<div class="articleSummaryAd" id="summaryAdSpot"></div>
</div>
