<div class="articleWrap" id="articleWrap">
	<div class="articleHeaderWrap" id="articleHeaderWrap">
		<div class="articleHeader">
			<div class="articleHeaderIcon" id="browserIcon">
				<img src="images/globe.png" />
			</div>
			<div class="articleHeaderIcon" id="shareIcon">
				<img src="images/email.png" />
			</div>
			<div class="articleHeaderText" id="articleTitle">
				&nbsp;
			</div>
		</div>
	</div>
	<div id="articleScrollerHolder">
		<div x-mojo-element="Scroller" id="articleScroller">
		  <div class="articleSpinnerHolder">
				<div x-mojo-element="Spinner" id="articleSpin" class="articleSpinner"></div>
			</div>
			<div class="articleText" id="articleText">
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</div>
			<div class="comments" id="comments"></div>
			<div x-mojo-element="Button" id="reply-button"></div>
			<div class="comment-status" id="comment-status"></div>
			<div class="comment-reply" id="comment-reply">
				<div x-mojo-element="TextField" class="comment-msg" id="comment-msg"></div>
				<div x-mojo-element="Button" id="submit-button"></div>
			</div>
		</div>
	</div>
	<div class="articleFooterWrap">
		<div class="articleFooter">
			<div class="articleAd" id="adSpot"></div>
		</div>
	</div>
</div>
