<div class="username-popup">
    <div class="username-setup">
        Please enter a username and e-mail address to comment.
        You will only be prompted for this once.
    </div>
    <div class="palm-group">
        <div class="palm-group-title">
            Commenting
        </div>
        <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper">
                    <div id="username" class="pref-text" x-mojo-element="TextField"></div>
                </div>
            </div>
            <div class="palm-row">
                <div class="palm-row-wrapper">
                    <div id="email" class="pref-text" x-mojo-element="TextField"></div>
                </div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div id="url" class="pref-text" x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
    </div>
    <div x-mojo-element="Button" id="done-button"></div>
</div>
