<div class="palm-group">
    <div class="palm-group-title">
        Appearance
    </div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div id="background" x-mojo-element="ListSelector"></div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div id="font" x-mojo-element="ListSelector"></div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div id="summaryStyle" x-mojo-element="ListSelector"></div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">
        Reading
    </div>
    <div class="palm-list">
        <div class="palm-row first last">
            <div class="palm-row-wrapper">
                <div id="reading" x-mojo-element="ListSelector"></div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">
        Commenting
    </div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div id="username" class="pref-text" x-mojo-element="TextField"></div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div id="email" class="pref-text" x-mojo-element="TextField"></div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div id="url" class="pref-text" x-mojo-element="TextField"></div>
            </div>
        </div>
    </div>
</div>